.table-container {
  overflow-y: auto;
  max-height: 500px;
}
table thead {
  top: 0px;
  position: sticky;
  border-collapse: collapse;
  vertical-align: middle;
}

thead {
  background-color: #5c5c5c;
  color: #ffffff;
}
